<div class="banner_pages">
  <h2>Rencontrer notre <span>équipe</span></h2>
</div>

<div class="profiles_container row">
  <div class="card_profile px-0 col-12 col-sm-12 col-md-4 col-lg-3">
    <div class="card_bg">
      <%= image_tag 'placeholder.jpg', alt: "Photo Docteur", class: 'avatar_profile' %>
    </div>
    <div class="card_profile_content">
      <h6>Dr. Charles Cousin</h6>
      <p>Dentiste Orthondotiste</p>
      <p>Deserunt cupidatat voluptate irure voluptate fugiat duis ullamco sunt commodo adipisicing enim labore occaecat.</p>
    </div>
  </div>

  <div class="card_profile px-0 col-12 col-sm-12 col-md-4 col-lg-3">
    <div class="card_bg">
      <%= image_tag 'placeholder.jpg', alt: "Photo Docteur", class: 'avatar_profile' %>
    </div>
    <div class="card_profile_content">
      <h6>Dr Caroline Bruyére-Franc</h6>
      <p>Dentiste Orthondotiste</p>
      <p>Deserunt cupidatat voluptate irure voluptate fugiat duis ullamco sunt commodo adipisicing enim labore occaecat.</p>
    </div>
  </div>

  <div class="card_profile px-0 col-12 col-sm-12 col-md-4 col-lg-3">
    <div class="card_bg">
      <%= image_tag 'placeholder.jpg', alt: "Photo Docteur", class: 'avatar_profile' %>
    </div>
    <div class="card_profile_content">
      <h6>Dr. Marianne Boulenguiez</h6>
      <p>Dentiste Orthondotiste</p>
      <p>Deserunt cupidatat voluptate irure voluptate fugiat duis ullamco sunt commodo adipisicing enim labore occaecat.</p>
    </div>
  </div>

  <div class="card_profile px-0 col-12 col-sm-12 col-md-4 col-lg-3">
    <div class="card_bg">
      <%= image_tag 'placeholder.jpg', alt: "Photo Docteur", class: 'avatar_profile' %>
    </div>
    <div class="card_profile_content">
      <h6>Jane Doe</h6>
      <p>Assistante</p>
    </div>
  </div>

  <div class="card_profile px-0 col-12 col-sm-12 col-md-4 col-lg-3">
    <div class="card_bg">
      <%= image_tag 'placeholder.jpg', alt: "Photo Docteur", class: 'avatar_profile' %>
    </div>
    <div class="card_profile_content">
      <h6>Jane Doe</h6>
      <p>Assistante</p>
    </div>
  </div>

  <div class="card_profile px-0 col-12 col-sm-12 col-md-4 col-lg-3">
    <div class="card_bg">
      <%= image_tag 'placeholder.jpg', alt: "Photo Docteur", class: 'avatar_profile' %>
    </div>
    <div class="card_profile_content">
      <h6>Jane Doe</h6>
      <p>Assistante</p>
    </div>
  </div>
</div>
