<!DOCTYPE html>
<html>
  <head>
    <title>Ortho Châtelet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/navbar' unless params[:action] == 'construction' %>
    <%= render 'shared/navigation' unless params[:action] == 'construction' %>
    <%= yield %>
    <%= render 'shared/footer' unless params[:action] == 'construction' %>
  </body>
</html>
